* {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}
:root {
    --mainbg: #060629;
    --accent1: #ffb000;
    --links: #8e8ee7;
    --text1: white;
    --text2: #060629;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 0;
    margin-top: 0;
    background-color: #ffffff;
}
header {
    background-color: #dcd8ec;
    /*background-color: #04221d;*/
    margin-top: 0px;
    margin-right: 0px;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
}
header div {
    display: inline-block;
    background-color: rgba(120, 133, 206, 0.5);
    margin: 2%;
    padding: 20px;
    border: 5px ridge rgba(137, 147, 175, 0.20);
    color: #030324;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease;
}
h1 {
    margin-top: 0px;
}
nav {
    background-color: #06182c;
    box-shadow: 2px 5px #a1a1a5;
}
nav ul .logo {
    background-image: url("erinbotlogo.png");
    background-color: none;
    background-size: 60px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-indent: -9999999px;
}
nav ul li {
    display: inline-block;
    /*background-color: #82a1c571;*/
    margin-left: 2px;
    margin-right: 2px;
    padding: 24px 10px;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: rgb(227, 220, 238);
    text-transform: uppercase;
}
nav ul li a:hover {
    color: #2a08e9;
    text-decoration: none;
}
.intro {
    color: #060629;
    text-align: center;
    padding: 300px;
}
.desktop {
    display: inline-block;
}
.mobile {
    display: none;
}
@media screen and (max-width: 1022px) {
    .intro {
        background-size: cover;
        height: 400px;
    }
}

@media screen and (max-width: 690px) {
    .mobile {
        display: inline-block;
    }
    .desktop {
        display: none;
    }
    .intro div {
        display: none;
    }
    .row {
        display: inline-block;
    }
}
.intro div {
    display: inline-block;
    /*background-color: rgb(11, 59, 51, 0.9);*/
    padding: 20px;
    border: 5px ridge rgba(137, 147, 175, 0.76);
    color: #dadaf0;
    position: relative;
    margin-top: 10px;
}
.intro div h1 {
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 100%;
    font-size: 1000px;
    font-weight: bold;
    text-align: left;
    margin: auto;
    text-transform: Uppercase;
    letter-spacing: 5px;
}
button {
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0a3838;
    color: white;
    font-size: 12px;
    background-color: #153d3a;
    font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.new-section {
    background-color: rgb(28, 46, 97);
    /*background-color: rgb(209, 62, 4);*/
    color: white;
    text-align: center;
}
.new-section h1 {
    padding: 30px;
    text-transform: uppercase;
}
footer {
    text-align: center;
    background-color: rgba(147, 167, 175, 0.815);
    line-height: 30px;
    font-size: 10px;
}
a {
    text-decoration: none;
    color: #8e8ee7;
    font-weight: bold;
    padding: 10px;
}
a:hover {
    text-decoration: underline;
    padding: 10px 10px;
    color: #ffb000;
}
footer a {
    color: black; 
    font-weight: normal; 
    text-decoration: underline; 
    padding: 0
}
